<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.antoinerousselot.apppartiel">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconeapp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayPOIActivity"
            android:label="@string/title_activity_display_poi" />
        <activity
            android:name=".DisplayPOIAdapter"
            android:label="@string/title_activity_display_poiadapter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailPOI"
            android:label="@string/title_activity_detail_poi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WebviewActivity"
            android:label="@string/title_activity_webview"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RequestPOI"
            android:label="@string/title_activity_request_poi"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>